h1 {
    background-color: palegoldenrod;
    padding-left: 00px;
    padding-top: 50px;
    border: 1px solid black;
    display: inline;
}

div {
    width: 200px;
    height: 200px;
}

#one {
    background-color: lightblue;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 10%;
}

#two {
    background-color: lightgoldenrodyellow;
    border-color: greenyellow;
    border-width: 5px;
    border-style: solid dashed dotted dotted;
    border-left-color: blue;
    border-left-width: 10px;
    padding-right: 50px;
}

#three {
    background-color: lightgrey;
    border: 8px solid pink;
    border-left-width: 15px;
}

button {
    padding: 10px 20px 30px 40px;
}

span {
    background-color: aquamarine;
    border: 1px solid black;
}