/** {
    color: green;
}*/

body {
    background-color: #5797ff;
}

input {
    background-color: pink;
}

input[type="password"] {
    background-color: gray;
    color: yellow;
}

h1, h2 {
    color: #114001;
}

h2::first-letter {
    font-size: 50px;
}

button {
    color: red;
    background-color: yellow;
}

input + button {
    background-color: purple;
}

button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: darkolivegreen;
}

.post button:hover {
    background-color: red;
    color: white;
}

#sign_up {
    color: yellow;
    background-color: red;
}

span {
    color: purple;
}

span::selection {
    color: gold;
    background-color: brown;
}

section[class="post"] {
    background-color: lightgray;
}

.post:nth-of-type(2n) {
    background-color: lightslategray;
}

.tag {
    color: white;
    background-color: purple;
    font-size: 16px
}

a {
    color: blue;
    text-decoration: none;
    font-weight: 700;
}

.post a {
    color: orange;
}

.post a:hover {
    text-decoration: underline;
}

footer a {
    background-color: aqua;
}

footer > a {
    background-color: blue;
    color: magenta;
}

a[href*="goog"] {
    font-weight: bold;
    color: magenta;
}

